@font-face {
	font-family: Typo_Round;
	src: url("./fonts/typo_round_regular-webfont.woff");
}

@font-face {
	font-family: Josefin_Sans;
	src: url("./fonts/josefinsans-semibold-webfont.woff");
}
@font-face {
	font-family: Source_Code_Pro;
	src: url("./fonts/sourcecodepro-regular-webfont.woff");
}

.heading_font {
	font-family: Typo_Round;
	font-size: 22pt;
	color: #101010;
	padding-bottom: 10px;
}
.text_font {
	font-family: Josefin_Sans;
	font-size: 20pt;
	color: #212121;
	padding-left: 20px;
	padding-bottom: 10px;
}

div_code {
	display: block;
	font-family: Source_Code_Pro;
	font-size: 14pt;
	color: #878787;
	white-space: pre;
	-moz-tab-size: 4;
	tab-size: 4;
	line-height: 14pt;
	padding-left: 40px;
	padding-top: 10px;
	padding-bottom: 10px;
}

body {
	margin: 0 auto;
	overflow: hidden;
}

#god_container {
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	color: #101010;
	background-color: #EFEFEF;
}

#header_container {
	position: relative;
	display: block;
	color: #656565;
	width: 100%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size: 50pt;
	font-family: Typo_Round;
	padding-top: 20px;
	padding-bottom: 20px;
	cursor: default;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#structure_container {
	position: relative;
	display: block;
	width: 99%;
	height: auto;
	padding: 0.5%;
}

#menu_container {
	position: relative;
	display: inline-block;
	width: 18%;
	height: auto;
	margin-right: 0.5%;
	overflow-x: auto;
	vertical-align: top;
}

#content_container {
	position: relative;
	display: inline-block;
	width: 80%;
	height: auto;
	vertical-align: top;
}

.menu_link {
	position: relative;
	width: auto;
	height: auto;
	cursor: pointer;
	color: #434343;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	padding: 5px;
	margin: 0;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.menu_link:hover {
	background-color: #F7F7F7;
}

.menu_link:active {
	color: #F7F7F7;
	background-color: #656565;
}
